* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 216, 216);
}

ol,
ul {
    padding-left: 1rem;
}

.c-item {
    height: 640px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: fixed;
    overflow: scroll;
    top: 0;
    z-index: 1020;
}


.nav-link {
    margin-right: 30px;
}

.empresa {
    width: 100%;
    height: 100vh;
    margin-top: 86px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.logo-empresa {
    width: 500px;
    margin-left: 30%;
    opacity: 80%;
}

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 54, 54);
    color: #999;
}

.pre-footer{
    width: 100%; 
    background-color: #474747;
    color: white;
    height: 300px;
    padding-top: 40px;
}