* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 216, 216);
}

ol,
ul {
    padding-left: 1rem;
}

.c-item {
    height: 640px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: fixed;
    overflow: scroll;
    top: 0;
    z-index: 1020;
}


.nav-link {
    margin-right: 30px;
}

.empresa {
    width: 100%;
    margin-top: 86px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.logo-empresa {
    width: 350px;
    opacity: 80%;
}

footer {
    position: static;
    bottom: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 54, 54);
    color: #999;
}

.pre-footer{

    width: 100%; 
    background-color: #474747;
    color: rgb(216, 214, 214);
    padding-top: 40px;
    padding-bottom: 40px;
}

.label{
    background-color: #474747;
    color: rgb(206, 204, 204);
}

.input{
    padding-left: 0;
    padding-right: 0;
}

.financiamento{
    margin-bottom: 5px;
}

.container-financiamento{
    border: 1px solid black; 
    background-color: #474747; 
    padding-right: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}
